:root {
   --primary-txt-color: #444;
   --secondary-txt-color: #fff;
   --other-txt-color: #333;

   --title-txt-color: #555;

   --btn-clr: #22c1d6;
   --btn-hover-clr: #0d37ac;

   --font-primary-style: 'Roboto', sans-serif;
   --font-secondary-style: 'Oswald', sans-serif;

}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.header-container {
   height: 100vh;
   width: 100vw;
   background-image: url(images/bg-img.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}

.header-text {
   width: 50vw;
   color: var(--secondary-txt-color);
   padding: 12% 0 0 15% ;
}

.header-text h1 {
   font-size: 50px;
   font-family: var(--font-secondary-style);
   font-weight: 400;
   line-height: 1.3;
}

.header-text p {
   padding: 20px 0;
   line-height: 1.3;
   font-size: 20px;
   font-weight: 300;
   font-family: var(--font-primary-style);
}

.donate-now-btn {
   margin-top: 5px;
   padding: 15px 25px;
   font-size: 20px;
   text-align: center;
   margin: none;
   background-color: var(--btn-clr);
   color: var(--other-txt-color);
   cursor: pointer;
   border-radius: 5px;
   border: none;
   transition: ease-out 0.4s;
}

.donate-now-btn:hover {
   background-color: var(--btn-hover-clr);
   color: var(--secondary-txt-color);
}

.container {
   margin-top: 100px;
}

.explore-container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-items: center;
   align-items: center;
   margin-left: 15%;
   margin-right: 15%;
   grid-gap: 50px;
}

.explore img {
   width: 90%;
   height: 100%;
}

.explore:nth-child(3), .explore:nth-child(4) {
   margin-top: 40px;
}

.explore-btn {
   margin-top: 20px;
   padding: 15px 25px;
   font-size: 20px;
   text-align: center;
   margin: none;
   background-color: var(--btn-clr);
   color: var(--other-txt-color);
   cursor: pointer;
   border-radius: 5px;
   border: none;
   transition: ease-out 0.4s;
}

.explore-btn:hover {
   background-color: var(--btn-hover-clr);
   color: var(--secondary-txt-color);
}

.explore-text h1 {
   font-size: 50px;
   color: var(--title-txt-color);
   line-height: 1;
   padding-bottom: 15px;
   font-family: var(--font-primary-style);
}

.explore-text p {
   color: var(--title-txt-color);
   line-height: 1.2;
   padding-bottom: 20px;
   font-size: 18px;
   font-family: var(--font-primary-style);
}

.explore-first-img {
   position: relative;
}

.video-icon {
   position: absolute;
   top: 40%;
   left: 35%;
   cursor: pointer;
   width: 20%;
}

.donation-title-txt {
   text-align: center;
   padding: 0% 30%;
}

.donation-title-txt h1 {
   font-size: 50px;
   color: var(--title-txt-color);
   line-height: 1;
   padding-bottom: 15px;
   font-family: var(--font-primary-style);
}

.donation-title-txt p {
   color: var(--title-txt-color);
   line-height: 1.2;
   padding-bottom: 20px;
   padding-top: 5px;
   font-size: 18px;
   font-family: var(--font-primary-style);
}

.direct-help-section {
   display: grid;
   grid-template-columns: 30% 30%;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   grid-gap: 20px;

}

.direct-help-detail {
   display: grid;
   grid-template-columns: 25% auto;
   background-color: #fdeeac;
   padding: 30px 30px;
   border-radius: 5px;
}

.direct-help-txt h3 {
   color: var(--primary-txt-color);
   padding-bottom: 10px;
   font-family: var(--font-secondary-style);
}

.direct-help-txt p {
   color: var(--title-txt-color);
   line-height: 1.4;
   padding-top: 5px;
   font-size: 18px;
   font-family: var(--font-primary-style);
}

.man-img-container {
   display: grid;
   grid-template-columns: 25% 25% 25%;
   justify-content: center;
   align-items: center;
   grid-gap: 20px;
}

.man-img img {
   width: 100%;
}

.fund-txt {
   text-align: center;
   padding: 0% 15%;
}

.fund-txt h1 {
   font-size: 50px;
   color: var(--title-txt-color);
   line-height: 1;
   padding-bottom: 15px;
   padding-left: 5px;
   padding-right: 5px;
   font-family: var(--font-primary-style);
}

.fund-txt p {
   color: var(--title-txt-color);
   line-height: 1.4;
   padding-top: 5px;
   padding: 5px 120px;
   font-size: 18px;
   font-family: var(--font-primary-style);
}

.zakat-fund-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   width: 100vw;
   margin-top: 40px;
}

.zakat-fund {
   width: 25%;
   margin: 0 10px;
   box-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.7);
   border-radius: 10px;
   padding-bottom: 15px;
}

.zakat-love-img img {
   width: 100%;
}

.zakat-fund-txt {
   padding: 20px;
}

.zakat-fund-txt h3 {
   color: var(--primary-txt-color);
   padding-bottom: 10px;
   font-family: var(--font-secondary-style);
}

.zakat-fund-txt p {
   color: var(--title-txt-color);
   line-height: 1.4;
   padding: 10px 0 25px 0;
   font-size: 18px;
   font-family: var(--font-primary-style);
}

.zakat-fund-txt a {
   font-size: 20px;
   color: var(--btn-hover-clr);
   text-decoration: none;
   transition: 0.5s;
}

.zakat-fund-txt a:hover {
   color: #22c1d6;
   text-decoration: underline;
}

.footer {
   background-color: var(--other-txt-color);
   color: var(--btn-clr);
   font-family: var(--font-secondary-style);
   text-align: center;
   padding: 50px 0 100px;
   line-height: 2;
   letter-spacing: 1px;
}